[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tomli = "*"
pyyaml = "*"

[dev-packages]
coverage = "*"
pytest = "*"
mypy = "*"
types-pyyaml = "*"
pylint = "*"
isort = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.11"
